.card-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-shadow-telegram {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    min-height: 100px;
    height: 100px;
}

.description {
    color: rgba(255,255,255,0.87);
    margin-bottom: 5%;
    margin-left: 3%;
}

.teamleader {
    display: inline-block;    
    width: 100%;
}

.icon, .icon:hover {
    width:50px;
    height:50px;
    border-radius:50%;
    background: #000;
    padding-left: 0px;
    float:left;
    display: inline-block;
    background-size:cover;
}


ul#menu {
    float: left;
    width: 100%;
    display: inline-block;
    padding-left: 0px;
}

ul#menu li {
    display:inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 64px;
    padding-top: 0% !important;
}

.telegram {
    color: rgba(255,255,255,0.87);
}

.telegram h4 {
    padding-left: 3%;
}

.camp-tube {
    background: url('./../assets/ComingSoon_Button.png') center center no-repeat rgba(0,0,0,0.1);
    color: #fff;
    min-height:50px;
    height: 150px;
}

.camp-talk {
    background: url('./../assets/CampTalk_Button.png') center center no-repeat #fa9549;
    color: #fff;
    min-height:50px;
    height: 150px;
}

.camp-talk a, a:visited, a:hover, a:active {
    color:#555;
    text-decoration: none;
    padding-left: 5%;
}

.camp-secure {
    background: url('../assets/SecureCamp_Button.png') center center no-repeat #4d4d4d;
    color: #fff;
    min-height:50px;
    height: 150px;
}

.camp-secure a, a:visited, a:hover, a:active {
    color:#555;
    text-decoration: none;
    padding-left: 5%;
}

.camp-secure-header {
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 1%;
}

.camp-secure-header-card {
    min-height: 30px;
    height: 70px;
}

.camp-secure-header a {
    color:#555;
    text-decoration: none;
    padding-left: 1%;
}

.session-secure {
    background-color: #a5a3ae!important;
    color: #fff;
}

.session-secure-header {
    /*background: #251e23;*/
    background: rgba(37, 30, 35, 0); 
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.session-secure-header-card {
    background: rgba(37, 30, 35, 0); 
    min-height: 30px;
    height: 70px;
}

.session-secure-header a, .session-secure-header a:hover {
    color:#BDBDBD !important;
    text-decoration: none;
    padding-left: 1%;
}

.camp-tech {
    background: url('../assets/TechCamp_Button.png') center center no-repeat #001e0e;
    color: #fff;
    min-height:50px;
    height: 150px;
}

.camp-tech a, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
}

.camp-tech-header {
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.camp-tech-header-card {
    min-height: 30px;
    height: 70px;
}

.camp-tech-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.session-tech {
    background-color: #006837 !important;
    color: #fff;
}

.session-tech-header {
    /*background: #251e23;*/
    background: rgba(37, 30, 35, 0); 
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.session-tech-header-card {
    background: rgba(37, 30, 35, 0); 
    min-height: 30px;
    height: 70px;
}

.session-tech-header a, .session-tech-header a:hover {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.camp-creative {
    background: url('../assets/CreativeCamp_Button.png') center center no-repeat #3d123f;
    color: #fff;
    min-height:50px;
    height: 150px;
}

.camp-creative a, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
}

.camp-creative-header {
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.camp-creative-header-card {
    min-height: 30px;
    height: 70px;
}

.camp-creative-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.session-creative {
    background-color: #872484;
    color: #fff;
}

.session-creative a, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
}

.session-creative-header {
    /*background: #251e23;*/
    background: rgba(37, 30, 35, 0); 
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.session-creative-header-card {
    background: rgba(37, 30, 35, 0); 
    min-height: 30px;
    height: 70px;
}

.session-creative-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.camp-code-telegram {
    background: url('../assets/CodeCamp_Button.png') center center no-repeat #30272d;
    color: #fff;
    z-index: 10;
    min-height:50px;
    height: 150px;
}

.camp-code-telegram a, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
}

.camp-code {
    background: url('../assets/CodeCamp_Button.png') center center no-repeat #30272d;
    color: #fff;
    z-index: 10;
    min-height:50px;
    height: 150px;
}

.camp-code a, a:visited, a:hover, a:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
}

.camp-code-header {
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.camp-code-header-card {
    min-height: 30px;
    height: 70px;
}

.camp-code-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.camp-body {
    color: #555;
    font-size: 18px;
    text-align: center;
}

.soundcloud-title {
    font-size: 25px;
}

.session {
    background-color: #97272d;
    color: #fff;
}

.session-link, .session-link:visited, .session-link:hover, .session-link:active {
    color:#fff;
    text-decoration: none;
    padding-left: 5%;
    height: 100%!important;
    width: 100%!important;
    padding: 100%;
    overflow: hidden;
}

.clickable {
    width: 100%;
    height: 100%;
}

.soundcloud-header {
    /*background: #251e23;*/
    background: rgba(37, 30, 35, 0); 
    color: #fff;
    font-size: 20px;
    padding-left: 1%;
}

.soundcloud-header a {
    color:#555;
    text-decoration: none;
    padding-left: 1%;
}

.soundcloud-header a:hover {
    color:#555;
    text-decoration: none;
    padding-left: 1%;
}

.session-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.session-header {
    /*background: #251e23;*/
    background: rgba(37, 30, 35, 0); 
    color: #555555;
    font-size: 20px;
    padding-left: 1%;
}

.session-header-card {
    background: rgba(37, 30, 35, 0); 
    min-height: 30px;
    height: 70px;
}

.session-header a {
    color:#BDBDBD;
    text-decoration: none;
    padding-left: 1%;
}

.footer-link, .footer-link:hover {
    padding: 0px;
	color: #BDBDBD !important;
    text-decoration: none;
}

.card-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}

.session h3 {
    padding-left: 5%;
    margin: 0px;
}

.mdl-mini-footer {
    background: rgba(255,255,255, 0);
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:rgba(255,255,255, 0);
}

body {
    font-family: "Roboto", "Helvetica",serif;
}
